# ---- Core Libraries (Light) ----
openai
python-dotenv
requests
pydantic

# ---- Web Server ----
fastapi[standard]
uvicorn

# ---- Database & Redis ----
pymongo
redis
boto3

# ---- Translation & Parsing ----
googletrans
pypdf
unstructured
unstructured[pdf]

# ---- LangChain & LLM Ecosystem (Moderate) ----
langchain
langchain_community
langchain_text_splitters
langchain_huggingface
langchain-openai
dspy

# ---- Embeddings & Vector Stores (Heavy) ----
sentence_transformers
fastembed
qdrant_client

# ---- RAG Evaluation ----
ragas
datasets
ranx

# ---- GIT Packages (Heavy and Slow) ----
git+https://github.com/openai/CLIP.git
git+https://github.com/PrithivirajDamodaran/ZSIC.git

bcrypt
