# Core Libraries
openai
python-dotenv
requests
pydantic
# FastAPI & Web Server
fastapi[standard]
uvicorn
# LLM Ecosystem
dspy
# Document Handling
googletrans
# Embedding & Vector Stores
sentence_transformers
transformers
qdrant_client
# Databases
redis
# Audio Processing
pyaudio
faster-whisper
torch==2.7.0 
torchvision==0.22.0 
torchaudio==2.7.0